<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MEME X</title>
</head>
<body>
    <form action="/memes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="caption" name="caption">
        <input type="text" placeholder="url" name="url">

        <button type="submit">Submit</button>
      </form>
</body>
</html>